// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL |   
|               STYLE                               |
|     FRONTPAGE  VERTICAL DROIT   |
|--------------------------------------*/

  //@include breakpoint ($mobile){}
  //@include breakpoint ($desktop){}
  //@include breakpoint ($tablet){}

//Code imbriqué à 100%
body .conteneur {
    background:transparent url("../images/bg_content_etoile.gif") no-repeat left bottom;
           
    .HPGauche{
        
        .HPGauche1{}
        .HPGauche2{}
        .HPGauche3{}
    }
    .HPDiapoVerticalDroite{
        aside.DiapoDroiteHP {
            img{@include adaptable-img;}
        }
    }
    
}
@include breakpoint($desktop) {/*    //Dimensions pour les pc*/
    //Taille du conteneur du groupe    

    .HPGauche{
        
        .HPGauche1{}
        .HPGauche2{}
        .HPGauche3{}
    }
    .HPDiapoVerticalDroite{
        
    }
}

    @include breakpoint($tablet) {/*     //Dimensions pour les tablettes*/
        //Taille du conteneur du groupe
    .HPGauche{
        @include span(first $tabletcol/2 of $tabletcol);
        .HPGauche1{}
        .HPGauche2{}
        .HPGauche3{}
    }
    .HPDiapoVerticalDroite{@include span(last $tabletcol/2 of $tabletcol);} 
        
}

/********** STYLE DES ELEMENTS ******/
.HPGauche1,.HPGauche2,.HPGauche3 {
    background: none;
    color: black;
    ul li {
        list-style: square;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

/*------------------------------
Liste Actus pour homepage
-------------------------------*/


.HPGauche1,.HPGauche2{
    aside.PartieGauche1, aside.PartieGauche2   {
        h3.title{
            text-align: center;
            font-family: $AristaFont;
            display: block;
            font-size: x-large;
            color: $rose-fushia;
        }
        .view-empty{text-align: center;}
        .table-actus-hp, .table-actus-hp2{
            width: em(400px);
            margin: 0 auto;
            border: 0;
        }
        .table-actus-hp thead th,.table-actus-hp2 thead th{
            border-bottom: em(3px) solid $rose-fushia;
        }
        .table-actus-hp tbody, .table-actus-hp2 tbody{}
        .table-actus-hp tr, .table-actus-hp2 tr{
            margin: em(9px);
            display: block;
        }
        .table-actus-hp td, .table-actus-hp2 td{
            background: white;
            border: 0;
            margin: 2px 0;
            padding: em(5px);
            display: block;
            border-bottom: 1px solid $rose-fushia;
            &:hover{
                background: $rose-fushia;
            }
        }
        
        .table-actus-hp p,.table-actus-hp2 p{}
        .table-actus-hp a, .table-actus-hp2 a{
            color: $gris-anthracite;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            display: block;
            font-size: small;
            &:hover{
                text-decoration: underline;
                color: white;
            }
        }

        .table-actus-hp span.date-display-single, .table-actus-hp2 span.date-display-single{
            text-align: right;
            float: right;
            font-style: italic;
        }
    }
}