// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|     FRONTPAGE  VERTICAL DROIT        |
|--------------------------------------*/

  //@include susy-breakpoint ($mobile){}
  //@include susy-breakpoint ($desktop){}
  //@include susy-breakpoint ($tablet){}

//Code imbriqué à 100%
body .conteneur {
    background:transparent image-url ("bg_content_etoile.gif") no-repeat left bottom;
       
    
    .HPGauche{
        
        .HPGauche1{}
        .HPGauche2{}
        .HPGauche3{}
    }
    .HPDiapoVerticalDroite{
        aside.DiapoDroiteHP {
            img{@include adaptable-img;}
        }
    }
    
}
@include breakpoint($desktop) {/*    //Dimensions pour les pc*/
    //Taille du conteneur du groupe    

    .HPGauche{
        @include span(first $desktopcol/2 of $desktopcol);
        .HPGauche1{}
        .HPGauche2{}
        .HPGauche3{}
    }
    .HPDiapoVerticalDroite{
        @include span(last 6 of $desktopcol);
    }
}
  
    @include breakpoint($tablet) {/*     //Dimensions pour les tablettes*/
        //Taille du conteneur du groupe
    .HPGauche{
        @include span(first $tabletcol/2 of $tabletcol);
        .HPGauche1{}
        .HPGauche2{}
        .HPGauche3{}
    }
    .HPDiapoVerticalDroite{@include span(last $tabletcol/2 of $tabletcol);} 
        
}


/******* STYLE IMPORTE THEME ORIGINAL *********/
.HPGauche1,.HPGauche2,.HPGauche3 {

    background: none;
    color: black;
    ul li {
        list-style: square;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

}

.HPGauche1{
    text-align: center;
    .PartieGauche1{
        iframe{
    margin: 0 auto;
    border: em(1px) solid $rose-fushia;
    padding: em(3px);
}
    }
}

.HPGauche2{
/*    background: url("../images/titre_actus_hp.gif") no-repeat top left;*/
    margin: 0;
    padding: em(35px) em(2px) 0;
}

.HPGauche3{
/*    background: url("../images/titre_foyer_hp.gif") no-repeat top left;*/
    margin: 0;
    padding: em(35px) em(2px) 0;
.PartieGauche3 p{text-align: center;}
.PartieGauche3 a{ 
    color: $gris-anthracite;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size:small;
    &:hover{
        color: $rose-fushia;
    }
}
}

/*----------------------
Liste Actus pour homepage
-----------------------*/
.HPGauche1,.HPGauche2{
    h3.title{
        text-align: center;
        font-family: $AristaFont;
        display: block;
        font-size: x-large;
        color: $rose-fushia;
    }
    .table-actus-hp, .table-actus-hp2{

        margin: 0 auto;
        border: 0;
        thead th{
            border-bottom: em(3px) solid $rose-fushia;
        }
        tbody{
            border: 0;
        }
        tr{
            margin: em(9px);
            display: block;
            border: 0;
            background: 0;
        }
        td{
            background: 0;
            border: 0;
            margin:  0;
            padding: 0;
            display: block;
            border-bottom: em(1px) solid $rose-fushia;
            &:hover{
                background: $rose-fushia;
            }
        }
        p{}
        a{
            color: $gris-anthracite;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            display: block;
             font-size: small;
            &:hover{
                text-decoration: underline;
                color: white;
            }
        }
        span.date-display-single{
            text-align: right;
            float: right;
            font-style: italic;
        }
    }
}

.HPGauche2 {
    .view-empty{text-align: center;}
}


/*---DIAPORAMA HOMEPAGE TEXTE DYNAMIQUE ----*/

// Style du diaporama dynamique
// voir fichier layout/layout-dipao-frontpage.scss