// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE ACTUALITE LISTE      |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.page-actualites{order:2;}
    #colonne-2.page-actualites{order:1;}
    #colonne-3.page-actualites{order:3;}
    @include breakpoint ($desktop){
    #colonne-1.page-actualites{order:1;}
    #colonne-2.page-actualites{order:2;}
    #colonne-3.page-actualites{order:3;}
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-2.page-actualites{@include border-orange-violet;}
    }
    
}
/*######-------- ||| STYLE ||| --------######*/
h1.titre_page_actualites{
    margin: em(3px);
    color: $rose-fushia;
    text-align: center;
}
/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#colonne-1.page-actualites,
#colonne-2.page-actualites,
#colonne-3.page-actualites{
    p{
    padding: em(5px);
}
strong,b{
    color: $rose-fushia;
}
    a{
        color: $violet;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        
    }
    
}


/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/
#colonne-1.page-actualites{}
#colonne-2.page-actualites{}
#colonne-3.page-actualites{}

/*------------------------
        PAGE
    ACTU GLOBALE
--------------------------*/
.titre_page-actu{
    text-align: center;
}
.titre-actu{
    bottom: -20px;
    left: 3px;
    position: relative;
    width: 190px;
    z-index: 20;
    }
.img-actu img{
    float: left;
    border: 1px solid white;
}
.actuGlobale-archives{
   text-align: center;
}
.actuGlobale-archives a{
    font-size: 11px;
    color: #950F7E;
    margin: 5px;
    font-family:Arista,trebuchet-MS,sans-serif;
}
.actuGlobale-archives a:hover{}
/*Liste actu europe*/
#actu-liste-europe p.txt-vide-actu-globale{
    width: 290px;
    text-align: center;
}
#actu-liste-europe{
    width: 290px;
}
#actu-liste-europe h3{
    font-size: 20px;
    color: #950F7E;
    margin: 5px;
    text-align: center;
    font-family:Arista,trebuchet-MS,sans-serif;
}
#actu-liste-europe table{
    border: 3px solid #950F7E;
    background: #EFEFEF;
    box-shadow:0px 0px 3px 1px #564E4E;
    -moz-box-shadow:0px 0px 3px 1px #564E4E;
    -webkit-box-shadow:0px 0px 3px 1px #564E4E;
    behavior: url(/sites/all/libraries/PIE/PIE.htc);
   position: relative;
}
#actu-liste-europe tbody{}
#actu-liste-europe tr{}
#actu-liste-europe td{
    padding: 2px;
}
#actu-liste-europe a{
    color: #564E4E;
    font-weight: bold;
    text-decoration: none;
}
#actu-liste-europe a:hover{
    color: #E2007A;
}
/*Liste actu VDL*/
#actu-liste-vdl p.txt-vide-actu-globale{}
#actu-liste-vdl{
     margin: 0 0 0 13px;
    width: 285px;
}
#actu-liste-vdl h3{
    font-size: 20px;
    color: #E2007A;
    margin: 5px;
    text-align: center;
    font-family:Arista,trebuchet-MS,sans-serif;
}
#actu-liste-vdl table{
    border: 3px solid #E2007A;
    background: #EFEFEF;
    box-shadow:0px 0px 3px 1px #564E4E;
    -moz-box-shadow:0px 0px 3px 1px #564E4E;
    -webkit-box-shadow:0px 0px 3px 1px #564E4E;
    behavior: url(/sites/all/libraries/PIE/PIE.htc);
   position: relative;
}
#actu-liste-vdl tbody{}
#actu-liste-vdl tr{}
#actu-liste-vdl td{
    padding: 2px;
}
#actu-liste-vdl a{
    color: #564E4E;
    font-weight: bold;
    text-decoration: none;
}
#actu-liste-vdl a:hover{
    color: #E2007A;
}
/*Liste annonce RP - Big*/
#actu-liste-rp-annonce p.txt-vide-actu-globale{
    margin: 0 auto;
    width: 365px;
    text-align: center;
    color: #E85134;
}
#actu-liste-rp-annonce{
    margin: 0 auto;
    width: 365px;
}
#actu-liste-rp-annonce h3{
    color: #00ACD1;
    text-align: center;
    margin: 5px 0;
}
#actu-liste-rp-annonce img{
    border: 2px solid #E2007A;
    padding: 1px;
}
#actu-liste-rp-annonce a{
    color: #E2007A;
    text-decoration: none;
}
#actu-liste-rp-annonce a:hover{
    color: #911381;
}
/*Liste annonce RP - Small*/
#actu-liste-rp-annonce2 p.txt-vide-actu-globale{
     margin: 0 auto;
    width: 365px;
    text-align: center;
    color: #E85134;
}
#actu-liste-rp-annonce2 img{
    border: 1px solid #E2007A;
    padding: 1px;
}
#actu-liste-rp-annonce2 a{
    color: #E2007A;
    text-decoration: none;
    text-align: center;
}
#actu-liste-rp-annonce2 a:hover{
    color: #911381;
}
#actu-liste-rp-annonce2 table{}
#actu-liste-rp-annonce2 tbody{}
#actu-liste-rp-annonce2 tr{}
#actu-liste-rp-annonce2 td{
    padding: 1px;
}


/*Bloc RSS*/
/*--------*//* FLUX BLOC ACTU ASSO*/
#block-aggregator-feed-1 {
    margin: em(5px) 0;
    color: $bleu-turquoise;
    h3{
        color: $rose-fushia;
        padding: em(2px);
    }
    ul li{
        list-style-position: inside;
        list-style-type: square;
        a{
            text-decoration: none;
            color:$bleu-turquoise;
            &:hover{
                color: $rose-fushia;
            }
        }
    }
}
